* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container {
    position: absolute;
    left: -10%;
    width: 120%;
    height: 100vh;
}
body {
    background-color: rgba(50, 50, 50, 0.5);
}
.frostedGlass {
    position: relative; 
    padding: 60px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}
.frostedGlass h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}
.frostedGlass .inputBox {
    position: relative;
}
.frostedGlass .inputBox input {
     position: relative;
     width: 100%;
     padding: 15px 20px;
     outline: none;
     font-size: 1.25em;
     color: #fff;
     border-radius: 5px;
     background: rgba(0, 0, 0, 0.2);
     box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
     border: 1px solid rgba(0, 0, 0, 0.5);
     /* margin-bottom: 30px; */
}
.frostedGlass .inputBox ::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.frostedGlass .inputBox #btn {
    position: relative;
    border: none;
    outline: none;
    background: linear-gradient(0deg, #2c3c99, #00b0ff);
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    box-shadow: none;
}
.frostedGlass .group {
    display: flex;
    justify-content: space-between;
}
.frostedGlass .group a {
    font-size: 1.25em;
    color: #fff;
    text-decoration: none;
}
.frostedGlass .group a:nth-child(2) {
    text-decoration: underline;
}