<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>灣灣互助會</title>
        <link rel="stylesheet" href="view/stylesheets/forgetPassword.css">
    </head>
    <body>
        <section>
            <div class="login">
                <h2>灣灣互助會</h2>
                <div class="inputBox">
                    <input type="text" placeholder="email電子郵件">
                </div>
                <div class="inputBox">
                    <input type="submit" value="更改密碼" id="btn">
                </div>
            </div>
        </section>
    </body>
</html>