<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>灣灣互助會</title>
        <link rel="stylesheet" href="view/stylesheets/index.css">
    </head>
    <body>
        <section>
            <div class="frostedGlass">
                <h2>灣灣互助會</h2>
                <div class="inputBox">
                    <input type="text" placeholder="email電子郵件">
                </div>
                <div class="inputBox">
                    <input type="password" placeholder="密碼">
                </div>
                <div class="inputBox">
                    <input type="submit" value="登入" id="btn">
                </div>
                <div class="group">
                    <a href="http://127.0.0.1:3000/forgotPassword">忘記密碼</a>
                    <a href="#">註冊</a>
                </div>
            </div>
        </section>
    </body>
</html>