<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>灣灣互助會</title>
        <link rel="stylesheet" href="view/stylesheets/signup.css">
    </head>
    <body>
        <section>
            <div class="frostedGlass">
                <h2>註冊</h2>
                <div class="inputBox">
                    <input type="text" placeholder="email電子郵件">
                </div>
                <div class="inputBox">
                    <input type="text" placeholder="遊戲名稱(暱稱)">例如：Shelby(社長)
                </div>
                <div class="inputBox">
                    <input type="password" placeholder="密碼">
                </div>
                <div class="inputBox">
                    <input type="submit" value="確定" id="btn">
                </div>
            </div>
        </section>
    </body>
</html>